.calculateContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.calculateWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.calculatedBtn {
  border: 1px solid transparent;
  background: linear-gradient(#1e1e1e, #1e1e1e) padding-box,
  linear-gradient(90deg, #2f80ed, #56ccf2) border-box;
  border-radius: 12px;
  padding: 24px;
  margin-top: 20px;
}