.calculateContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.calculateWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.calculatedBtn {
  margin-top: 20px;
}