.exchangeContainer {
  margin-left: 50px;
  font-size: 1rem;
}

.exchangeUpdateTime {
  font-size: 0.9rem;
  color: #5ad7c3;
}

.exchangeRate {
  font-size: 1.2rem;
  color: chartreuse;
  cursor: pointer;
}

.exchangeDateInputLabel {
  display: block;
  margin-bottom: 0.5rem;
}

.exchangeDateInput {
  margin-left: 0.5rem;
  padding: 0.3rem 0.5rem;
  border: 1px solid transparent;
  background: linear-gradient(#1e1e1e, #1e1e1e) padding-box,
  linear-gradient(90deg, #2f80ed, #56ccf2) border-box;
  border-radius: 12px;
}