@use "../../styles/variables" as *;

.pills {
 display: flex;
  gap: 20px;
  flex-direction: row;
}

.pill {
  padding: 8px;
  background: $color-bg;
  color: $color-primary;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid $color-primary;

  &:hover {
    background: $color-primary;
    color: $color-bg;
  }
}

.pillActive {
  background: $color-primary;
  color: $color-bg;
}