.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  background: #1e1e1e;
  border-radius: 10px;
  padding: 24px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 1);
  width: 300px;

  @media (min-width: 992px) {
    width: 300px;
  }
}