.clipboardContainer {
    display: flex;
    gap: 16px;
    align-items: center;
}

.clipboardLabel {
    color: #be4039;
    font-size: 23px;
}

.clipboardValue {
    cursor: pointer;
    color: #b94e56;
    font-size: 26px;
}

.clipboardSuccess {
    width: 30px;
    height: 30px;
}