.clipboardContainer {
    display: flex;
    gap: 16px;
    align-items: center;
}

.clipboardLabel {
    color: #b0b0b0;
    font-size: 20px;
}

.clipboardValue {
    cursor: pointer;
    color: #2f80ed;
    font-size: 26px;
}

.clipboardSuccess {
    color: #56ccf2;
    font-size: 27px;
}