.convectorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  margin: 40px 80px 40px;
}

.convectorTitle {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}

.convectorWrapper {
  width: fit-content;
  display: flex;
  gap: 48px;
}

.convectorInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
