.convectorWrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.convectorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.convectorTitle {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}

.taxWrapper {
  width: fit-content;
  display: flex;
  gap: 48px;
}

.convectorInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
