.currencyContainer {
  margin-left: 50px;
  font-size: 1rem;
}

.currencyUpdateTime {
  font-size: 0.9rem;
  color: #5ad7c3;
}

.currencyRate {
  font-size: 1.2rem;
  color: chartreuse;
  cursor: pointer;
}