:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    font-family: "Inter", sans-serif;
    background: #1e1e1e;
    color: #f5f6fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}

.exchange-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 24px;
    padding: 24px;
    border-radius: 12px;
    background: #121212;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 1);

    @media (min-width: 992px) {
        flex-direction: row;
    }
}
